{% extends "base.html" %}
{% block conteudo %}
<h2>Lista de Alunos</h2>
<ul>
    {% for aluno in alunos %}
    <li>
        <a href="{{ url_for('aluno', id=aluno.id) }}">{{ aluno.nome }}</a> - Nota: {{ aluno.nota }}
    </li>
    {% endfor %}
</ul>

<h3>Adicionar Novo Aluno</h3>
<form action="{{ url_for('adicionar') }}" method="post">
    Nome: <input type="text" name="nome" required>
    Nota: <input type="number" step="0.1" name="nota" required>
    <button type="submit">Adicionar</button>
</form>
{% endblock %}
